section#courseware .cw-sidebar {
  display: none !important;
}

#page_title_container{
  display: none !important;
}

#tabs {
  display: none !important;
}

section#courseware ol.active-subchapter{
  display: none !important;
}

#koop-sidebar {
  background-image: url('images/manual.png');
  width: 250px;
  height: 201px;
  background-repeat: no-repeat;
  margin-left: -300px;
  position: absolute;
  background-size: 100%;
}
