/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.11.2019, 16:48:38
    Author     : anne
*/

/* hide Stud.IP Stuff */
    #page_title_container {
        display: none;
    }
    
    #flex-header {
/*        display: none !important;*/
    }

     #barTopMenu, #barTopStudip {
        display: none !important;
    }
    
    
/* Koop CSS */
    .koop-content {
        margin: 30px;
    }
    
    .koop-content h1 {
        text-transform: uppercase;
    }
    
    .flex-wrapper{
        display: flex;
    }
    
    .flex-container {
        width: 230px;
        border: solid thin #28497c;
        border-radius: 15px;
        margin: 15px;
        padding: 20px;
    }
    .flex-container ul {
        list-style: none;
        padding-left: 0px;
    }
    .flex-container ul li{
        background-size: 16px;
        background-position: 0 0;
        background-repeat: no-repeat;
        padding-left: 2em; 
        background-image:url(<?= $GLOBALS['ABSOLUTE_URI_STUDIP'] . $this->plugin->getPluginPath() . '/assets/images/koop.png'?>);
        margin: 5px;
    }