section#courseware .cw-sidebar {
  display: none !important;
}

#page_title_container{
  display: none !important;
}

#tabs {
  display: none !important;
}

section#courseware ol.active-subchapter{
  display: none !important;
}

#koop-sidebar {
  background-image: url('images/faecher_prev.svg');
  width: 385px;
  height: 383px;
  background-repeat: no-repeat;
  margin-left: -450px;
  margin-top: 0px;
  position: absolute;
  background-size: 100%;
}

section#courseware {
    padding-top: 100px !important;
    padding-left: 530px !important;
    max-width: 1200px !important;
}

#layout_content {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1680px !important;
}

