section#courseware .cw-sidebar {
  display: none !important;
}

#page_title_container{
  display: none !important;
}

#tabs {
  display: none !important;
}

section#courseware ol.active-subchapter{
  display: none !important;
}

#koop-sidebar {
  background-image: url('images/0_teachUOS.svg');
  background-image: url('images/0_teachUOS.svg');
  width: 250px;
  height: 100px;
  background-repeat: no-repeat;
  margin-left: -300px;
  position: absolute;
}
